.one{
height: 100px;
width:100px;
color:green;
background-color: pink;
border:1px solid black;
}
.DIV5{
width:200px;
height:200px;
background-color: aquamarine;


}
.newClass{
  
    color:red;
}